<div class="home-page">
  <header>expander 1</header>
  <div nag-expander nag-single-panel data-id="expander1" data-ut="expander1" data-template="/app/components/home/assets/templates/expander1.html"></div>
  <header>expander 2</header>
  <div nag-expander nag-single-panel data-id="expander2" data-ut="expander2" data-template="/app/components/home/assets/templates/expander2.html"></div>
  <header>custom directive</header>
  <div custom-directive nag-single-panel data-id="custom-directive" data-ut="custom-directive" data-template="/app/components/home/assets/templates/custom-directive1.html"></div>
  <button data-ut="event-expander2" ng-mouseenter="testEvent()">test event</button>
</div>
