.expander {
  .content,
  .custom-content {
    display: none;

    &.is-active {
      display: inline-block;
    }
  }
}

.custom {
  .c {
    display: none;

    &.is-active {
      display: inline-block;
    }
  }
}