.expander.is-active .content,
.expander.is-active .custom-content {
  display: inline-block; }
.expander .content,
.expander .custom-content {
  display: none; }

.custom .c {
  display: none; }
  .custom .c.is-active {
    display: inline-block; }
